@import url('https://fonts.googleapis.com/css?family=Bungee Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee ');

body {
    background-color: #f7ef6a;
}

#header {
  color: black;
  font-family: 'Bungee Shade';
  font-size: 70px;
}

h2 {
  color: black;
  font-family: 'Bungee';
  font-size: 30px;
  align: center;
}

table {
    width: 80%;
    background-color: white;
    align: center;
    border-collapse: collapse;
    border-radius:15px;
}

td{
  font-family: 'Bungee';
  font-size: 20px;
  padding: 5px;
  text-align: center;
  border-left:solid black 1px;
  border-top:solid black 1px;
}

td:first-child {
  border-left: 0;
}

th {
  font-family: 'Bungee';
  font-size: 15px;
  padding: 5px;
  text-align: center;
  border-left:solid black 1px;
}

th:first-child {
  border-left: 0;
}
